---
export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.png" />


<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://astro.build/social.jpg?v=1" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://astro.build/social.jpg?v=1" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap">

<link
  rel="stylesheet"
  href={Astro.resolve("../styles/global.css")}
>

<script>
const html = document.querySelector("html");
const darkMode = localStorage.getItem("darkMode") === 'true';

if (darkMode === undefined) {
  darkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
}
 
if (darkMode) {
  html.classList.add("dark");
}

localStorage.setItem("darkMode", darkMode);
</script>

<style global lang="postcss">
body {
  @apply bg-gray-200 transition duration-100;
  font-family: 'Fira Sans', sans-serif;
}

.dark body {
  @apply bg-gray-900 text-gray-200;
}

main {
  @apply pt-4;
  position: relative;
  top: 70px;
}

p {
  @apply py-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: 'Rokkitt', serif;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.title {
  line-height: 3.5rem;
}

label,
a.recent-post {
  font-family: 'Fira Sans', sans-serif;
}

a:hover {
  text-decoration: underline;
}

a.nuxt-link-exact-active {
  background-color: rgba(0,0,0, 0.3);
}

hr {
  @apply border-0 mx-auto my-4;
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 80%;
}

.fab {
  bottom: 15px;
  right: 15px;

  @media (max-width: 640px) {
    & {
      bottom: 5px;
      right: 5px;
    }
  }
}

@media (max-width: 370px) {
  .hide-too-small {
    display: none;
  }
}
</style>

<slot></slot>