---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getShows } from "@/api/shows";

const { slug } = Astro.params;
console.log(slug);

const show = (await getShows()).find(s => s.id === slug);

console.log(show);

if (!show) {
    return Astro.redirect("/shows");
}
---

<BaseLayout>
    <section class="flex flex-col gap-4 items-center pb-12">
        <img src={show.image} class="w-full aspect-video object-cover" />
        <h1 class="font-title text-3xl" transition:name={show.id}>{show.title}</h1>
        <time class="text-sm text-stone-400">{Intl.DateTimeFormat('en-us').format(new Date(show.pubDate))}</time>
        <a href={show.url} class="break-all text-sm underline text-stone-400">{show.url}</a>
    </section>
    <article class="prose prose-invert prose-lg md:prose-xl m-auto bg-gradient-to-b from-black to-stone-950 p-12 rounded shadow">
        {show.snippet}
    </article>

</BlogLayout>