---
// Component Imports
import DarkModeButton from '../components/DarkModeButton.vue'
import SocialLinks from '../components/SocialLinks.astro'
import { getData } from '../api/github.mjs';

const github = await getData();

let { title, description, image, permalink } = Astro.props;

title = title || 'Lindsay Wardell';
description = description || 'Programmer, writer, mother. She/Her. Interested in Vue, Typescript, Node.js, and Elm.';
image = image ? 'https://lindsaykwardell.com' + image : 'https://lindsaykwardell.com/lindsay-profile.jpg'
permalink = permalink ? 'https://lindsaykwardell.com' + permalink : 'https://lindsaykwardell.com';
---
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />


    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap">

    <link
      rel="stylesheet"
      href={Astro.resolve("../styles/global.css")}
    >

    <script>
    const html = document.querySelector("html");
    let darkMode = localStorage.getItem("darkMode");

    if (!darkMode) {
      darkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
    } else {
      darkMode = darkMode === "true";
    }

    if (darkMode) {
      html.classList.add("dark");
    }

    localStorage.setItem("darkMode", darkMode);
    </script>

    <slot name="head"></slot>
  </head>

  <body>
    <div class="relative flex flex-col min-h-[100vh]">
      <nav
        class="bg-lindsay w-full h-16 md:h-20 flex items-center px-6 shadow-md fixed z-10"
      >
        <a href="/" class="flex items-center hover:no-underline">
          <img
            src={github.user.avatarUrl}
            class="w-12 h-12 md:w-16 md:h-16 rounded-full"
            alt="Lindsay Wardell"
          />
          <h3 class="text-white pl-3 hidden md:block">Lindsay Wardell</h3>
        </a>
        <div class="flex-grow flex justify-end text-white text-lg">
          <a href="/" class="px-4 py-2 rounded hidden sm:inline">Home</a>
          <a href="/about" class="px-4 py-2 rounded hide-too-small whitespace-nowrap"
            >About <span class="hidden sm:inline">Me</span></a
          >
          <a href="/blog" class="px-4 py-2 rounded">Blog</a>
          <a href="/media" class="px-4 py-2 rounded">Media</a>
        </div>
      </nav>
      <main class="flex-grow mb-16 flex items-center justify-center">
        <slot></slot>
      </main>
      <footer
        class="w-full h-16 flex justify-center items-center bg-gray-900 dark:bg-gray-800 text-white transition duration-100"
      >
        <SocialLinks />
      </footer>
      <DarkModeButton client:only />
    </div>
  </body>
</html>