---
// Component Imports
import SocialLinks from '../components/SocialLinks.astro'
import details from '../api/details.mjs'

import "../styles/global.css";

let { title, description, image, permalink } = Astro.props;

title = title || details.title;
description = description || details.description;
image = image ? (image.includes("http") ? image : details.permalink + image) : details.image
permalink = permalink ? details.permalink + permalink : details.permalink;
---
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />


    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Lindsay Wardell" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap">

    <slot name="head"></slot>
  </head>

  <body class="bg-gray-200 dark:bg-gray-900 dark:text-gray-200">
    <div class="relative flex flex-col min-h-[100vh]">
      <nav
        class="bg-gradient-to-r from-[#581414] to-red-700 dark:via-red-900 dark:to-gray-900 w-full h-16 md:h-20 flex items-center px-6 shadow-md fixed z-10"
      >
        <a href="/" class="flex items-center">
          <img
            src={'/lindsay.jpg'}
            class="w-12 h-12 md:w-16 md:h-16 rounded-xl object-cover object-top"
            alt=""
          />
          <h1 class="text-3xl font-rokkitt text-white pl-3 hidden md:block">Lindsay Wardell</h1>
        </a>
        <div class="flex-grow flex justify-end text-white text-lg">
          <a href="/" class="px-4 py-2 rounded hidden sm:inline hover:underline">Home</a>
          <a href="/about" class="px-4 py-2 rounded whitespace-nowrap hover:underline"
            >About <span class="hidden sm:inline">Me</span></a
          >
          <a href="/blog" class="px-4 py-2 rounded hover:underline">Blog</a>
          <a href="/media" class="px-4 py-2 rounded hover:underline">Media</a>
        </div>
      </nav>
      <main class="flex-grow mb-16 lg:flex items-center justify-center pt-4 relative top-[70px]">
        <slot></slot>
      </main>
      <footer
        class="w-full h-16 flex justify-center items-center bg-gray-900 dark:bg-gray-800 text-white transition duration-100"
      >
        <SocialLinks class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 m-auto" />
      </footer>
    </div>

    <script data-goatcounter="https://lindsaykwardell.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>