---
import BaseLayout from './BaseLayout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import dayjs from 'dayjs'

import "../styles/prism.scss"

const {content} = Astro.props;
const {title, snippet, date, author, image, slug} = content;
---
<BaseLayout title={title} description={snippet} image={image} permalink={slug}>

<div class="blog-post flex justify-center items-center flex-col">
  <div
    class="bg-white dark:bg-gray-800 dark:text-gray-200 shadow-md my-5 transition duration-100 w-full lg:w-[1000px]"
  >
    <div class="post-title">
      <img
        class="hero dark:bg-white object-cover m-auto w-full max-h-[420px] mb-4"
        src={image}
        alt=""
      />
      <h1 class="text-5xl px-4 max-w-[900px] m-auto">{ title }</h1>
      <div
        class="text-center pt-2 text-gray-600 dark:text-gray-400 transition duration-100"
      >
        Published by { author } on <time datetime={date}>{ dayjs(date).format("MMM DD YYYY") }</time>
      </div>
      <div class="pt-3">
        <SocialLinks />
      </div>
    </div>
    <hr class="mx-auto my-4" />
    <article class="py-8 px-4 md:px-0 prose m-auto dark:prose-dark">
      <slot />
    </article>

    <hr class="mx-auto my-4" />

    <section class="prose dark:prose-dark m-auto">
      <div class="flex flex-col md:flex-row justify-between md:gap-8 items-center">
        <div class="flex justify-center">
          <img
            src="/lindsay.jpg"
            alt="Lindsay Wardell"
            class="picture rounded-lg shadow-md h-32 min-w-[8rem] cover"
          />
        </div>
        <div class="px-3">
          <div class="text-2xl">Hi, I'm Lindsay Wardell!</div>
          <p>
            I am a programmer, writer, and mother. I work as a Software Engineer at <a class="underline" href="https://noredink.com">NoRedInk</a>. I write and talk about Elm, Vue, Vite, and other tools that I enjoy learning about and using.
          </p>
        </div>
      </div>
    </section>

  </div>
</div>

</BaseLayout>
  
<style is:global lang="pcss">
.blog-post {
  .post-title {
    text-align: center;
  }

  @media (max-width: 50em) {
    .hero {
      max-height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
}

.picture {
    object-fit: cover;
  }
</style>
