---
import BaseLayout from './BaseLayout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import dayjs from 'dayjs'

import "../styles/prism.scss"

const {content} = Astro.props;
const {title, snippet, date, author, image, slug} = content;
const cacheStrategy = Astro.props.cacheStrategy;

const { avatar, note, header, followers_count, following_count, statuses_count } = await fetch("https://mastodon.social/api/v1/accounts/109248168582410861").then(res => res.json())
---
<BaseLayout title={title} description={snippet} image={avatar} permalink={slug} cacheStrategy={cacheStrategy}>

<div class="blog-post flex justify-center items-center flex-col">
  <div
    class="bg-white dark:bg-gray-800 dark:text-gray-200 shadow-md my-5 transition duration-100 w-full lg:w-[1000px]"
  >
    <div class="relative mb-[50px]">
      <img src={header} />
      <img src={avatar} class="w-36 h-36 rounded-full object-cover absolute bottom-[-30px] left-[30px] shadow-xl border-2 border-black" />
    </div>
    
    <div class="flex justify-between m-auto w-[80ch] text-gray-500 dark:text-gray-400 pb-4">
      <a href="https://mastodon.social/@lindsaykwardell" class="underline">@lindsay@lindsaykwardell.com</a>
      <div>{statuses_count} Posts</div>
      <div>{following_count} Following</div>
      <div>{followers_count} Followers</div>
    </div>

    <aside class="prose dark:prose-dark m-auto" set:html={note}>
      
    </aside>

    <hr />

    <article class="py-8 px-4 md:px-0 prose m-auto dark:prose-dark">
      <slot />
    </article>

  </div>
</div>

</BaseLayout>
  
<style is:global lang="pcss">
.blog-post {
  .post-title {
    text-align: center;
  }

  @media (max-width: 50em) {
    .hero {
      max-height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
}

.picture {
    object-fit: cover;
  }
</style>
