---
import SocialLinks from '@/components/SocialLinks.astro'
import BaseLayout from './BaseLayout.astro'

const { content } = Astro.props
const { title, snippet, date, author, image, slug } = content

const BSKY_API = 'https://public.api.bsky.app/xrpc/'
const BSKY_HANDLE = 'lindsaykwardell.com'

const bskyProfile = await fetch(
  `${BSKY_API}app.bsky.actor.getProfile?actor=${BSKY_HANDLE}`,
).then((res) => res.json())

const avatar = bskyProfile.avatar
const banner = bskyProfile.banner
const description = bskyProfile.description || ''
---

<BaseLayout title={title} description={snippet} image={avatar} permalink={slug}>
  {banner && <img src={banner} class="w-full object-cover max-h-[200px]" />}

  <div
    class="flex flex-col md:flex-row justify-center gap-2 md:gap-6 m-auto md:w-[80ch] text-muted pb-4 p-3"
  >
    <a href="https://mastodon.social/@lindsaykwardell" class="underline"
      >@lindsaykwardell@mastodon.social</a
    >
    <a href="https://bsky.app/profile/lindsaykwardell.com" class="underline"
      >@lindsaykwardell.com</a
    >
  </div>

  <aside class="prose m-auto p-3 text-center">{description}</aside>

  <div class="w-[300px] m-auto pb-4">
    <SocialLinks />
  </div>

  <section class="px-4 md:px-0 prose m-auto dark:prose-dark">
    <slot />
  </section>
</BaseLayout>

<!-- <style is:global lang="pcss">
.blog-post {
  .post-title {
    text-align: center;
  }

  @media (max-width: 50em) {
    .hero {
      max-height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
}

.picture {
    object-fit: cover;
  }
</style> -->
