---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
  photos: CollectionEntry<'photo'>[]
  spotlight?: CollectionEntry<'photo'>
}

const { photos, spotlight } = Astro.props
---

<BaseLayout>
  <section class="flex flex-col gap-6 relative flex-shrink">
    {
      spotlight && (
        <div transition:name="spotlight" transition:animate="none" class="flex gap-6 sticky top-0 z-10 bg-black p-2 rounded">
          <a href={spotlight.data.url.src}>
            <Image
              transition:name={spotlight.id}
              loading="eager"
              src={spotlight.data.url}
              alt={spotlight.data.alt}
              class="object-contain aspect-video m-2"
            />
          </a>
        </div>
      )
    }
    <div class="columns-3 gap-2 p-1">
      {
        photos.map((photo) => (
          <div class="mb-2">
            {spotlight?.id === photo.id ? (
              <Image
                transition:name={`${photo.id}-spotlight`}
                src={photo.data.url}
                alt={photo.data.alt}
                class="opacity-25"
              />
            ) : (
              <a href={`/photos/${photo.slug}`}>
                <Image
                  transition:name={photo.id}
                  src={photo.data.url}
                  alt={photo.data.alt}
                />
              </a>
            )}
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>


<script>
  document.addEventListener("astro:before-swap", () => {
    sessionStorage.setItem("scrollPosition", window.scrollY.toString());
  });

  document.addEventListener("astro:after-swap", () => {
    const scrollPosition = sessionStorage.getItem("scrollPosition");
    if (scrollPosition) {
      window.scrollTo({
        top: parseInt(scrollPosition, 10),
        behavior: "instant",
      });
      sessionStorage.removeItem("scrollPosition");
    }
  });
</script>